/* Usei o :root para representar o document/ elemento html, assim conseguiria 
aplicar a escuridão a todo o documento. Então, conseguiria dar "profundidade"
pelo z-index

Pq usei dois style.css? Como usei o :root para personalizar, não achei uma forma
de acessar essa pseudo-classe pelo DOM. Mas achei uma maneira de acessar o link 
do style através da TAG html > head > link, assim conseguiria mudar um atributo.
Então quando clico para ligar e desligar luz, mudo o href do link style. Veja
na linha 49 e 59 do script.*/

:root {
    /* cursor: none; */
    --cursorX: 50vw;
    --cursorY: 50vh;
}
:root:before {
    content: '';
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    background: radial-gradient( circle 2.5vmax at var(--cursorX) var(--cursorY), 
    rgba(33, 2, 41, 0) 10%,
    rgba(172, 106, 168, 0.5) 80%,
    rgba(0, 0, 0, 0.959) 100%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4E3D6;
}

#content{
    position: relative;
}

#background{
    width: 900px;
    z-index: 0;
}

#interruptor{
    width: 23px;
    height: 34px;
    position: absolute;
    background: rgba(255, 0, 0, 0);
    z-index: 2;
    top: 517px;
    left: 184px;
    cursor: pointer;
}

#porta{
    width: 30px;
    height: 20px;
    position: absolute;
    background: rgba(0, 128, 0, 0);
    z-index: 2;
    top: 538px;
    left: 234px;
    cursor: pointer;
}

#text {
    position: absolute;
    z-index: 3;
    color: rgb(146, 145, 145);
    width: 300px;
    left: 100px;
}

#zzz {
    width: 100px;
    position: absolute;
    top: 468px;
    left: 560px;
    z-index: 3;
    opacity: 0.3;
}
